/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css);
/* styles.css or your component's CSS file */
/* styles.css or your component's CSS file */
/* styles.css or your component's CSS file */

.navbar {
    background-color: #000; /* Black background */
  }
  
  .navbar-brand {
    color: #fff; /* White text */
    font-weight: bold; /* Bold text */
  }
  
  .nav-link {
    color: #fff; /* White text */
  }
  
  .nav-link.active {
    color: #f8f9fa; /* Slightly off-white color for active link, optional */
  }
  
  .navbar-toggler-icon {
    background-color: #fff; /* White icon for the toggle button */
  }
  
  .navbar-nav.ms-auto {
    margin-left: auto; /* Pushes items to the right */
  }
  
  .btn-highlight {
    color: #f0f0f0; /* Light color for visibility */
    font-weight: bold; /* Bold text */
    background-color: #007bff; /* Bootstrap primary button color or customize */
    border: none; /* Remove default border */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    border-radius: 0.25rem; /* Rounded corners for the button */
  }
  
  .btn-highlight:hover {
    background-color: #0056b3; /* Darker color on hover */
    color: #fff; /* Ensure text color is white on hover */
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    text-align: left;
    padding: 12px;
  }
  
  .table th {
    background-color: #343a40; /* Dark background for table headers */
    color: #ffffff; /* White text color for table headers */
    font-weight: bold;
  }
  
  .table td {
    border-bottom: 1px solid #dee2e6; /* Light border for rows */
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2; /* Zebra striping effect for rows */
  }
  
  .table-hover tbody tr:hover {
    background-color: #e9ecef; /* Light grey background on hover */
    cursor: pointer;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6; /* Border for the whole table */
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6; /* Borders for table cells */
  }
  
  /* College table styles */
.college-table {
  background-color: #bad2eb;
}

.college-table thead {
  background-color: #0d0e0f;
  color: #ffffff;
}

.college-table tbody tr:nth-child(odd) {
  background-color: #7ba7d3;
}

.college-table tbody tr:nth-child(even) {
  background-color: #f1f3f5;
}

.college-table tbody tr:hover {
  background-color: #dee2e6;
}
