<div class="container mt-4" >
    <div class="alert alert-warning" *ngIf="todoForm.dirty &&todoForm.invalid ">Enter valid Values</div>
        <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
            <fieldset style="background-color: #f9f9f9; padding: 20px; border-radius: 10px; border: 1px solid #ddd;">
                <legend class="text-center" style="width: auto; border: none; background: transparent; font-size: 1.5rem; color: #333;">Task Details</legend>
                
                <div class="form-group">
                    <label for="username">Name:</label>
                    <input type="text" [(ngModel)]="todo.username" class="form-control" id="username" name="username" placeholder="Enter the Name" required>
                </div>
                
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea [(ngModel)]="todo.descriptipn" class="form-control" id="description" name="description" rows="3" placeholder="Enter description" required></textarea>
                </div>
                
                <div class="form-group">
                    <label for="targetDate">Target Date:</label>
                    <input type="date" [ngModel]="todo.targetDate | date:'yyyy-MM-dd'" (ngModelChange)="todo.targetDate=$event" class="form-control" id="targetDate" name="targetDate" required>
                </div>
                
                <div class="text-center"> <!-- Centered the button -->
                    <button type="submit"  class="btn btn-primary btn-lg">Save</button> <!-- Increased button size -->
                </div>
            </fieldset>
        </form>
    
</div>
