<div class="container my-4 custom-container">
    <h1 class="text-center mb-4">Employee Search Component</h1>

    <div class="row">
        <div class="col-md-3">
            <div class="card custom-card mb-4">
                <div class="card-header custom-card-header">
                    <h3 class="card-title">Search Employee</h3>
                </div>
                <div class="card-body custom-card-body">
                    <form (ngSubmit)="SearchByPaging()" class="row gx-2 gy-3 align-items-end">
                        <div class="form-group col-md-12">
                            <label for="sname">Select Name:</label>
                            <select id="sname" name="fname" [(ngModel)]="sname" class="form-control custom-select">
                                <option value=''>Select name of Employee</option>
                                <option *ngFor="let name of bname" [value]="name">{{ name }}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="department">Departments:</label>
                            <div class="form-check form-check-inline" *ngFor="let d of department">
                                <input type="checkbox" class="form-check-input custom-checkbox" [id]="d"
                                    [name]="'department[]'" [value]="d" (change)="onDepartmentChange($event)">
                                <label class="form-check-label custom-checkbox-label" [for]="d">{{d}}</label>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="minSalary">Min Salary:</label>
                            <input type="number" id="minSalary" name="minSalary" [(ngModel)]="minSalary"
                                class="form-control custom-input" placeholder="Enter minimum salary">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="maxSalary">Max Salary:</label>
                            <input type="number" id="maxSalary" name="maxSalary" [(ngModel)]="maxSalary"
                                class="form-control custom-input" placeholder="Enter maximum salary">
                        </div>

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary custom-btn">Search Employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card custom-card">
                <div class="card-header custom-card-header">
                    <h3 class="card-title custom-employee-data-title">Employee Data</h3>
                </div>
                <div class="card-body p-0 custom-card-body">
                    <div class="text-left mt-4 ml-3 mb-3">
                        <div class="btn-group" role="group" aria-label="Sort Employees">
                            <button (click)="toggleId()" class="btn btn-primary">Sort by ID</button>
                            <button (click)="toggleName()" class="btn btn-primary">Sort by Name</button>
                            <button (click)="toggleSalary()" class="btn btn-primary">Sort by Salary</button>
                            <button (click)="toggleDepartment()" class="btn btn-primary">Sort by Department</button>
                        </div>
                    </div>
                    <table class="table table-bordered m-0 custom-table">
                        <thead class="thead-dark custom-thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>DEPARTMENT</th>
                                <th>ADDRESS</th>
                                <th>SALARY</th>
                                <th>UPDATE</th>
                                <th>DELETE</th>
                                <th *ngIf="newEmployee != null">Cancel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of employees">
                                <td>{{employee.id}}</td>
                                <td *ngIf="!employee.isEditMode && employee !== newEmployee">{{employee.name}}</td>
                                <td *ngIf="employee.isEditMode || employee === newEmployee">
                                    <input type="text" [(ngModel)]="employee.name" class="form-control custom-input"
                                        name="name" [required]="editMode">
                                    <div *ngIf="employee.isEditMode && !isValidEmployee(employee)" class="text-danger">
                                        Name is required.</div>
                                </td>
                                <td *ngIf="!employee.isEditMode && employee !== newEmployee">{{employee.department}}</td>
                                <td *ngIf="employee.isEditMode || employee === newEmployee">
                                    <select id="sdepartment" name="sdepartment" [(ngModel)]="employee.department"
                                        class="form-control custom-select" [required]="editMode">
                                        <option value=''>Select The Department</option>
                                        <option *ngFor="let dept of department" [value]="dept">{{ dept }}</option>
                                    </select>
                                    <div *ngIf="employee.isEditMode && !isValidEmployee(employee)" class="text-danger">
                                        Department is required.</div>
                                </td>
                                <td *ngIf="!employee.isEditMode && employee !== newEmployee">{{employee.address}}</td>
                                <td *ngIf="employee.isEditMode || employee === newEmployee">
                                    <select id="saddress" name="saddress" [(ngModel)]="employee.address"
                                        class="form-control custom-select" [required]="editMode">
                                        <option value=''>Select the City</option>
                                        <option *ngFor="let address of listOfAddresses" [value]="address">{{address}}
                                        </option>
                                    </select>
                                    <div *ngIf="employee.isEditMode && !isValidEmployee(employee)" class="text-danger">
                                        Address is required.</div>
                                </td>
                                <td *ngIf="!employee.isEditMode && employee !== newEmployee">{{employee.salary | decimal}}</td>
                                <td *ngIf="employee.isEditMode || employee === newEmployee">
                                    <input type="number" [(ngModel)]="employee.salary" class="form-control custom-input"
                                        name="salary" [required]="editMode">
                                    <div *ngIf="employee.isEditMode && !isValidEmployee(employee)" class="text-danger">
                                        Salary is required.</div>
                                </td>
                                <td *ngIf="!employee.isEditMode && employee !== newEmployee">
                                    <button (click)="editEmployee(employee)" class="btn btn-warning"><i
                                            class="fas fa-edit"></i></button>
                                </td>
                                <td *ngIf="employee.isEditMode && employee !== newEmployee || employee.isEditMode">
                                    <button (click)="updateSingle(employee)" class="btn btn-success"><i
                                            class="fas fa-save"></i></button>
                                </td>
                                <td
                                    *ngIf="!employee.isEditMode && employee !== newEmployee || employee.isEditMode === false">
                                    <button (click)="deleteEmployee(employee.id)" class="btn btn-danger"><i
                                            class="fas fa-times-circle"></i></button>
                                </td>
                                <td *ngIf="employee.isEditMode && employee !== newEmployee">
                                    <button (click)="cancelEdit(employee)" class="btn btn-secondary"><i
                                            class="fas fa-window-close"></i></button>
                                </td>
                                <td *ngIf="employee === newEmployee">
                                    <button (click)="cancelRow()" class="btn btn-secondary"><i
                                            class="fas fa-window-close"></i></button>
                                </td>
                                <td *ngIf="employee === newEmployee && currentPage === totalPages -1">
                                    <button (click)="saveEmployee(employee)" class="btn btn-secondary"><i
                                            class="fas fa-window-close"></i>save</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-4 text-center">
                        <button *ngIf="areAllEmployeesValid()" (click)="updateAll()" class="btn btn-success mx-2 custom-btn" [disabled]="!editMode">Save All</button>
                        <button class="btn btn-fancy custom-btn-fancy" (click)="createEmployee()">Create Employee</button>
                    </div>
                    
                    <div class="custom-total-salary" style="color: rgb(63, 13, 60);">
                        Total Salary: {{totalSalary}}
                    </div>

                    <div class="custom-total-salary" style="color: green;">
                        Total Employees: {{totalEmployee}}
                    </div>
                </div>
                <div class="container my-4 p-0">
                    <div class="d-flex justify-content-end mt-4">
                        <div class="form-inline mr-2"></div>
                        <div>
                            <button class="btn btn-primary btn-sm" (click)="goToPage(0)" [disabled]="currentPage===0">First</button>
                            <button class="btn btn-primary btn-sm" (click)="goToPage(currentPage-1)"[disabled]="currentPage===0">Previous</button>
                            <ng-container *ngFor="let pi of [].constructor(totalPages); let i=index">
                                <button class="btn btn-primary btn-sm" (click)="goToPage(i)" [disabled]="i===currentPage">{{i+1}}</button>
                            </ng-container>
                            <button class="btn btn-primary btn-sm" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages - 1">Next</button>
                            <button class="btn btn-primary btn-sm" (click)="goToPage(totalPages - 1)" [disabled]="currentPage === totalPages - 1">Last</button>
                        </div>
                    </div>
                    <div class="text-center" *ngIf="searchClick">
                        <button class="btn btn-primary" (click)="SearchExcel()">Download Data</button>
                        <button mat-raised-button (click)="downloadPDF()">Download PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
