<!-- <p>login works!</p>
User name : <input type="text" name="username" [(ngModule)="username"] >
<br>
<br>
entered name: <h4>{{username}}</h4>
User name : <input type="password" name="password"  value="{{password}}">
<button (click)=handleLogin()>Login</button>
`
<small *ngIf="inValidLogin">{{errormessage}}</small>
<div>
    <br>
    UserName: <input type="text" name='usename' [(ngModel)]="username">


Password: <input type="password" name='password' [(ngModel)]="password"> 
<br>
{{username}}
<br>
<button (click)=handleLogin()>LogIn</button>
</div>  -->


<!-- 
<h1>Login</h1>
<div class="container">
   
      
      <div class="alert alert-warning" *ngIf='inValidLogin'>{{errormessage}}</div>
      <input type="text" name="username" [(ngModel)]="username" placeholder="enter the username "/>

      <br/>
      <br/>
      
      <input type="password" name="Password" [(ngModel)]="password" placeholder="enter the password " />
      <br/>
      <br/>
      <button type="submit" (click)=handleLogin() class="btn btn-outline-success">submit</button>
</div> -->




<h1 class="text-center mt-5">Login</h1>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-warning" *ngIf='inValidLogin'>{{errormessage}}</div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username" placeholder="Enter the username" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="Password" class="form-control" [(ngModel)]="password" placeholder="Enter the password" />
                    </div>
                    <button type="submit" (click)="handleBasicAuthLogin()" class="btn btn-success w-100">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
