::ng-deep .dx-datagrid-headers .dx-header-row .dx-datagrid-action {
    font-weight: bold; 
    background-color:rgba(219, 233, 253, 1);
    color: #080707; 
    
    
}




.dx-datagrid-header-filter {
    width: 30px; 
    height: 30px; 
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.button-container dx-button {
    margin-left: 10px;
}